<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8"> 

    <title>Portal</title>

    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&family=Oswald:wght@300&family=Roboto+Mono&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
    <br><h1>student portal</h1>
    <h2>Enter your details:</h2>

    <form action="/student_process" method="post">

      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br>

      <label for="stid">stID:</label>
      <input type="text" id="stid" name="stid"><br>
      
      <input type="submit" Value='Enter'>

    </form>

</body>
    <!-- Add js and footer files here -->
</html>
