<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Your account</title>
    
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&family=Oswald:wght@300&family=Roboto+Mono&family=Sacramento&display=swap" rel="stylesheet">

</head>
<body>

    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% else %}
        <h1>Hello World!</h1>
    {% endif %}

    <h2> Welcome</h2>


</body>
<!-- Add js and footer files here -->
</html>
